<div id="<%= dom_id statement_line %>">
  <p>
    <strong>Amount:</strong>
    <%= statement_line.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= statement_line.title %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= statement_line.kind %>
  </p>

</div>
