<h1>Editing statement line</h1>

<%= render "form", statement_line: @statement_line %>

<br>

<div>
  <%= link_to "Show this statement line", @statement_line %> |
  <%= link_to "Back to statement lines", statement_lines_path %>
</div>
