<div class="home-container application-container">
  <figure class="application-hero">
    <%= image_tag "home-banner.png" %>
  </figure>
  <h1 class="action-text">Gain Insight into Your Finances: Get Your Personalized Income & Expenditure Statement Now!</h1>
  <%= link_to "sign in", new_user_session_path, class: 'action-button' %>
</div>
